@model IEnumerable<LDInsurance.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" style="height:610px">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a asp-controller="Accounts" asp-action="Index" class="list-group-item list-group-item-action"><i class="fas fa-user"></i> Profile</a>
                <a asp-controller="Vehicles" asp-action="Index" class="list-group-item list-group-item-action"><i class="fa fa-car"></i> Vehicles</a>
                <a asp-controller="InsuranceRegistrations" asp-action="Index" class="list-group-item list-group-item-action"><i class="fas fa-file-alt"></i> Insurances</a>
                <a asp-controller="Reports" asp-action="Index" class="list-group-item list-group-item-action"><i class="fas fa-clipboard-check"></i> Reports</a>
                <a asp-controller="TransactionHistories" asp-action="Index" class="list-group-item list-group-item-action"><i class="fas fa-money-check-alt"></i> Transaction Histories</a>
                <a href="#" data-toggle="modal" data-target="#logoutModal" class="list-group-item list-group-item-action"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header" style="font-size:25px; background-color: greenyellow">Vehicles</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OwnerName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VehicleNumber)
                                </th>
                                <th>
                                    <a asp-action="Register"><i class="fas fa-edit"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehicleNumber)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-eye"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">You want to logout ?</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">Wish you a good day ♥</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-primary" style="background-color: greenyellow; border-color:greenyellow; color:green" asp-area="" asp-controller="Accounts" asp-action="Logout">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    