@model LDInsurance.Models.InsuranceRegistration

@{
    ViewData["Title"] = "Details";
}

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">You want to pay now ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Double check your information (personal information, vehicle information, insurance information). If everything is ok, you can pay </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" style="background-color: greenyellow; border-color:greenyellow; color:green" asp-area="" asp-controller="TransactionHistories" asp-action="Pay">Pay now</a>
            </div>
        </div>
    </div>
</div>

<div class="container" style="height:610px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>@Html.DisplayNameFor(model => model.Account)</label>
                            <div class="input-group">
                                <input class="form-control here" read only value="@Html.DisplayFor(model => model.Account.Name)" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>@Html.DisplayNameFor(model => model.Vehicle)</label>
                            <div class="input-group">
                                <input class="form-control here" read only value="@Html.DisplayFor(model => model.Vehicle.Name)" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>@Html.DisplayNameFor(model => model.Insurance)</label>
                            <div class="input-group">
                                <input class="form-control here" read only value="@Html.DisplayFor(model => model.Insurance.Name)" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                StartDate: @DateTime.Now
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                EndDate: @DateTime.Now.AddDays(365)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>@Html.DisplayNameFor(model => model.Price)</label>
                            <div class="input-group">
                                <input class="form-control here" read only value="@Html.DisplayFor(model => model.Price)" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#" data-toggle="modal" data-target="#logoutModal" class="btn btn-danger nav-link" style="color:000055">Pay</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>